<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>password</th>
        <th>age</th>
        <th>roles</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:password="${user.password}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.getRolesNames()}"></td>
        <td>
            <a th:href="@{'/admin/edit/'+${user.id}}">edit</a>
            <a th:href="@{'/admin/delete/'+${user.id}}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<h2>Add user</h2>
<a th:href="@{'/admin/add'}">Add new user</a>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>